# Java ignore from https://github.com/github/gitignore
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#JaMuz specifics
/dist/
/build/
nbproject/private/*
manifest.mf

build/*
logs/*
!/lib/*.jar

data/cache/*
data/Patterns.txt
data/VideoLinks.txt
data/AudioLinks.txt
data/RemoteClients\.txt

database/*_for_comparison.sql

/JaMuz.xml
/JaMuz.properties
keys.properties
myMovieDb.db
yGuard.log

testenv/AppFolder/data/cache/
testenv/AppFolder/logs/
testenv/AppFolder/JaMuz\.db
testenv/Musique/Archive/
testenv/Musique/TestDevice/
testenv/Ressources/albumFiles_MergeNTest/
testenv/StatSources/
data/devices/
/src/jamuz/TinyTool-JsonFormat.json
JaMuz\.db

JaMuz\.xml\.bak

testenv/Musique/
