{% assign full_description_url = "https://raw.githubusercontent.com/phramusca/JaMuz-Remote/master/metadata/en/full_description.txt" %}
{% assign full_description_content = site.full_description_content | default: site.full_description_content | default: site.full_description_content | default: "" %}
{% assign full_description_content = full_description_content | append: "\n" | append: site.full_description_content | append: "\n" | append: site.full_description_content | append: "\n" | append: site.full_description_content %}
{{ full_description_content }}